.user-card {
  width: 80vw;
  display: flex;
  height: 300px;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #f2f2f2;

  .left {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
      width: 40vw;
      height: 60%;
      display: flex;
      flex-direction: row;

      .top-left {
        width: 12vw;
        height: 100%;

        .image-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;

          .img-container {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
              height: 97px;
              width: 97px;
              border-radius: 50%;
              border: 5px solid white;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
          }

          .ouvert {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .spn1 {
              font-size: 12px;
              background-color: #21b335;
              border-radius: 10px;
              width: 55px;
              height: 18px;
              text-align: center;
              font-weight: lighter;
              color: white;
              font-family: monospace;
            }

            .spn {
              color: #828282;
              font-weight: lighter;
              text-align: center;
              line-height: 13px;
              font-size: 12px;
              width: 98px;
              height: 13px;
            }
          }
        }
      }

      .top-right {
        width: 28vw;
        height: 100%;

        .user-info {
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;

          .username {
            padding-left: 20px;
            padding-top: 7px;
            color: #1f85c6;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            width: 233px;
          }

          hr {
            margin-top: 20px;
            width: 200px;
            border: none;
            background-color: #f2f2f2;
            height: 2px;
          }

          .emailuser {
            padding-left: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            line-height: 16px;
            width: 231px;
            height: 16px;
            color: #00234b;
          }
        }

        .buttons {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }

    .bottom {
      width: 40vw;
      height: 40%;
      display: flex;
      flex-direction: row;

      .bottom-left {
        width: 54%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .bold {
          height: 30%;
          width: 40vw;

          h2 {
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            height: 20px;
            width: 273px;
            padding-left: 40px;
          }
        }

        .content {
          height: 70%;
          width: 40vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: 7px;
          span {
            padding-left: 40px;
            font-size: 14px;
            color: #4f4f4f;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            line-height: 20px;
          }
        }
      }
      .bottom-right {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .bold {
          height: 30%;
          width: 40vw;

          h2 {
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            height: 20px;
            width: 273px;
            padding-left: 40px;
          }
        }

        .content {
          height: 70%;
          width: 40vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: 7px;
          span {
            padding-left: 40px;
            font-size: 14px;
            color: #4f4f4f;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            line-height: 20px;
          }
        }
      }
    }
  }

  .right {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .right-title {
      width: 98%;
      height: 20%;
      display: flex;
      margin-left: 20px;
      flex-direction: column;
      justify-content: center;

      .span-title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #333;
      }

      .span-heure {
        color: #828282;
        font-size: 12px;
        line-height: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
      }
    }

    .calendar {
      width: 100%;
      height: 80%;
    }
  }
}
