.custom-button {
  background-color: #1f85c6;
  height: 52%;
  padding: 8px 30px;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;

  &:hover {
    background-color: #0c9af1;
    cursor: pointer;
  }

  &.signIn {
    color: white;
    font-size: 15px;
    text-align: center;
  }
}
