.users-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .search {
    border: 1px solid black;
    background-color: white;
    padding: 10px 40px;
    margin: 20px auto;
    z-index: 5;
  }
}
