.post-card {
  height: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  .card-top {
    width: 100%;
    height: 80%;
    display: flex;

    .post-title {
      p {
        color: #333;
        padding-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 22px;
        font-weight: bold;
      }

      span {
        padding-left: 30px;
        display: block;
      }
    }
  }

  .card-bottom {
    width: 100%;
    height: 20%;

    .button-right {
      float: right;
      margin-right: 10px;
    }
  }
}
