.search-bar {
  height: 74px;
  width: 100%;
  background-color: #0096d6;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #ffd400;
  .search {
    width: 70%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    @media screen and (max-width: 800px) {
      height: 25px;
    }
    .search1 {
      width: 31%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      @media screen and (max-width: 800px) {
       }
      .logo-cont {
        width: 20%;
        height: 70%;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 800px) {
         width: 10%;
        }
      }

      .search-user {
        width: 80%;
        height: 100%;
        border: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        line-height: 18px;
        color: #333;
        @media screen and (max-width: 800px) {
          width: 40%;
          font-size: 10px;
        }
        &::placeholder {
          color: #333;
        }

        &:focus {
          outline: none;
        }
      }
    }
    .search2 {
      width: 31%;
      height: 100%;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 800px) {
       width: 20%;
      }
      .p-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        p {
          font-size: 16px;
          color: #333;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: normal;
          line-height: 18px;
        }
      }

      .search-user {
        width: 80%;
        height: 100%;
        border: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        line-height: 18px;
        color: #333;

        &::placeholder {
          color: #333;
        }

        &:focus {
          outline: none;
        }
      }
    }
    .search3 {
      width: 31%;
      height: 100%;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 800px) {
        width: 20%;
      }
      .p-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        p {
          font-size: 16px;
          color: #333;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: normal;
          line-height: 18px;
        }
      }

      .search-user {
        width: 80%;
        height: 100%;
        border: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        line-height: 18px;
        color: #333;

        &::placeholder {
          color: #333;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .logo-search {
      margin-left: 5px;
      margin-right: -6px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid #e0e0e0;
      width: 7%;
      height: 51px;
      background-color: #ffd400;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
