.profil-user {
  background-color: white;
  display: flex;
  flex-direction: column;

  .profil-info {
    height: 190px;
    width: 100%;
    border-bottom: 4px solid #ffd400;
    display: flex;
    flex-direction: row;

    .profil-left {
      width: 20%;
      height: 100%;
      .image-container {
        margin: 10px 10px;
        float: right;
        width: 65%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          border: 4px solid white;
        }
      }
    }

    .profil-right {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .user-in {
        width: 100%;
        height: 80%;
        display: flex;
        .container {
          margin: 10px 20px;
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .title {
            height: 30%;
            display: flex;
            align-items: center;
            p {
              padding-top: 30px;
              color: #333;
              font-size: 28px;
              font-weight: bold;
              line-height: 30px;
              font-family: Arial, Helvetica, sans-serif;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            height: 70%;
            justify-content: center;
            span {
              padding-top: 5px;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: normal;
              font-size: 16px;
              color: #828282;
              line-height: 20px;
            }
          }
        }
      }

      .select-items {
        width: 70%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          padding-left: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: normal;
          font-size: 18px;
          line-height: 20px;
          border: none;
          background-color: white;
          outline: none;
          &:hover {
            color: #0096d6;
            border: none;
          }
          &:first-child {
            color: #0096d6;
          }
        }
      }
    }
  }

  .user-content {
    background-color: #f6f6f5;
    display: flex;
    flex-wrap: row;
    width: 100%;
    .user-posts {
      width: 64%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .user-post-card {
        width: 86%;
        margin: 20px;
      }
    }
    .calendar-user {
      width: 36%;
      height: 100;
    }
  }
}
