.header {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: space-between;
  background-color: #0096d6;
  align-items: center;
  
  .logoContainer {
    height: 100%;
    margin-left: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      margin-left: 20px;
    }

    .logo {
      width: 60px;
      height: 30px;
    }
  }

  .header-items {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 800px) {
      width: 35%;
    }
    .favoris {
      padding: 8px;
      font-weight: bold;
      height: 18px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 18px;
      font-size: 16px;

      @media screen and (max-width: 800px) {
        font-size: 12px;
        padding: 10px;
      }
    }

    .emailu {
      color: white;
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      background: none;
      border: none;

      @media screen and (max-width: 800px) {
        font-size: 12px;
        padding: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .button {
      padding: 9px;
      background: none;
      border: none;
      color: white;
      width: 173px;
      font-weight: bold;
      height: 18px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 18px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }

    .select-option {
      margin-right: 70px;
      background: none;
      border: none;
      color: white;
      font-size: 16px;
      line-height: 18px;
      width: 89px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;

      @media screen and (max-width: 800px) {
        font-size: 12px;
        margin-right: 90px;
      }
    }
  }
}
